{{>header}}
{{>nav}}

<body>
    <div class="page-shell">
        <div class="page-card">
            <div class="page-header">
                <div>
                    <h1>Chat</h1>
                    <small class="text-muted">Logged in as {{name}}</small>
                </div>
            </div>
            <div id="messages"></div>
            <form action="" id="message-form" class="comment-form">
                <input type="text" name="message" id="message-input" class="form-control" autocomplete="off" placeholder="Type your message...">
                <button id="message-send" disabled class="btn btn-primary">Send</button>
            </form>
            <script id="message-template" type="text/template">
                <div class="message-card">
                    <div class="text"></div>
                    <div class="name text-muted"></div>
                    <div class="time text-muted"></div>
                </div>
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
            {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/x.y.z/handlebars.min.js"></script> --}}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
            <script src="/socket.io/socket.io.js"></script>
            <script src="../js/chat.js"></script>
        </div>
    </div>
</body>