{{>header}}
{{!-- <script src="newPost.js"></script> --}}

<form action="/blogs" , method="post" id="btn">
    <h2>Title of your post</h2>
    <label for="title"></label>
    <input type="text" name="title" placeholder="Title of header">
    <h2>Enter The Story</h2>
    <label for="text"></label>
    <textarea name="text" value="" placeholder="Enter your story"></textarea>
    <br>
    <input type="submit">
</form>