
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1>Here goes your stories from</h1>
{{!-- {{authenticated}}
{{#if authenticated}} --}}
<form action="/user/logout" method="POST">
    <button type="submit" name="logout">Logout</button>
</form>
{{!-- {{/if}} --}}