<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/master.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Header</title>
    {{!-- <h1>Here goes your stories from</h1> --}}
    {{!-- {{authenticated}}
    {{#if authenticated}} --}}
    <form action="/user/logout" method="POST">
        <button type="submit" name="logout" class="btn byn-primary">Logout</button>
    </form>