<nav class="navbar sticky-top navbar-light bg-light">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/user/me">
        Me
    <a href="/users" class="nav-link">Friends</a>
    <button><a href="/user/logout" class="">Logout</a></button>
</nav>